@import "../common";

.container{
  @extend .common-card;
  background-color: $blue-light-2 !important;
  text-align: center;
  padding: 20px 0 20px 0;

  .badge{
    padding: 10px 10px 10px 10px !important;
    margin-bottom: 10px;
  }

  .name{
    @extend .common-font-large
  }
}