@import "../../vars";
@import "../common";

.container{
  @extend .common-card;
  .card{
    background-color: $blue!important;
    .cardPic{
      background-color: lightblue !important;
    }
    .table{
      .body{
        background-color: $blue-light-2 !important;
      }
    }
  }
}