@import "../vars";

.common-card{
  margin: 10px 5px 0 5px;
}

.common-font-large{
  font-size: 20px !important;
  font-weight: 300 !important;
}

.common-font-normal{
  font-size: 16px !important;
  font-weight: 100 !important;
}

.common-font-small{
  font-size: 12px !important;
}