@import "../common";

.backImg{
  background-image: url("../../assets/4.jpg");
  background-size: 100%;
  width: 45.5%;
  margin: 20px 15px 0 15px;
}

.container{
  //@extend .common-card;
  background-color: rgba(0,0,0,0.5) !important;
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .badge{
    margin-left: 10px;
    max-width: 50px;
    padding: 10px 10px 10px 10px !important;
  }

  .name, .steps{
    flex-basis: 0;
    flex-grow: 2;
  }

  .badge, .menu{
    flex-basis: 0;
    flex-grow: 1;
  }

  .steps{
    text-align: center;
  }
}
