
@import "../common";

.main{
  flex-basis: 0;
  flex-grow: 2;
  max-width: 550px;
  flex-direction: column;
}

.right{
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  max-width: 250px;
}


