@import "../common";

.backImg{
  @extend .common-card;
  background-image: url("../../assets/1.jpg");
  background-size: 100%;
  z-index: -2;
}

.container{
  background-color: rgba(0,0,0,0.5) !important;
  //opacity: 0.5;
  padding: 20px 15px 30px 15px;
  //@extend .common-card;

  .description{

  }

  .list{
    display: flex;
    flex-direction: row;

    .names, .steps, .energy, .expr{
      flex-basis: 0;
      flex-grow: 1;
      align-items: center;
    }

    .names{
      display: flex;
      flex-direction: row;
      flex-grow: 2;
      .rank{
        min-width: 0!important;
      }
      .rank, .avatar{
        flex-basis: 0;
        flex-grow: 1;
      }
      .name{
        flex-basis: 0;
        flex-grow: 2;
      }
    }
  }
}


