
$font-family-base:      'Segoe UI', 'HelveticaNeue-Light', sans-serif;

$blue-light : #62b1f0;
$blue : #64b1d1;
$blue-dark : #1893c0;
$blue-dark-2 : #136b8c;
$blue-light-2 : #53c1e8;

$white-grey : #f5f0f0;
$white : #ffffff;

$red : #e25454;
$red-light : #f84770;

$green : #20e39f;
$green-dark : #3ecf92;
$green-light : #3df4cf;
$green-dark-2 : #56b6b7;
$green-dark-3 : #2e7576;