
$base : #62b1f0;
$white : #f4f4f4;

.font-white{
  color: $white !important;
}

.container{
  text-align: center;
}

.container-center{
  margin: 0 30px 0 30px;
  display: flex;
  flex-direction: row;
}