
@import "../common";

.container{
  @extend .common-card;
  width: 45.5%;
  margin: 20px 15px 0 15px;
}

.badge{
  padding: 10px 10px 10px 10px !important;
}

.head{
  display: flex !important;
  align-items: center;
}

.content, .footer{
  padding: 0 20px 10px 20px !important;
}

.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left{
  flex-basis: 0;
  flex-grow: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn, .member{
  flex-basis: 0;
  flex-grow: 1;
}
.avatars{
  flex-basis: 0;
  flex-grow: 3;
}

.avatar{
  margin-right: -15px;
}