
@import "../common";

.sidebar{
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  max-width: 224px;
}

.main{
  flex-basis: 0;
  flex-grow: 2;
  max-width: 550px;
}

.right{
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  max-width: 245px;
}


