@import "../../vars";
@import "../common";

.container{

  background-color: $blue-light !important;

  .avatar{
    align-self: center;
    margin-right: 10px;
  }

  .btn{
    margin-right: 0 !important;
    color: $white !important;
  }

  .title{
    @extend .common-font-large;
    color: $white !important;
    margin-right: 50px;
  }
  .name, .btn{
    @extend .common-font-normal;
    color: $white !important;
  }

  .link{
    align-self: center;
  }
}
